@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html {
    @apply h-full;
  }

  body {
    @apply font-sans bg-white text-neutral-900 m-0 p-0 h-full;
    font-family: 'Poppins', sans-serif;
  }
}
